* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  font-family: 'Roboto', sans-serif;
  color: #FDFDFD;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 400px;
  height: 500px;

}

.calculator__display {
  width: 100%;
  height: 100px;
  background-color: #232323;
  border: 1px solid #3c4043;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  text-align: right;
  transition: .1s;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.calculator__display:hover {
  cursor: pointer;
  background-color: #303134;
  border: 1px solid #303134;
}

.calculator__keys {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 40px;
  gap: 10px;
}

.calculator__key {
  background: #3c4043;
  color: #e8eaed;
  border: 1px solid #3c4043;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  font-size: 18px;
}

.calculator__key:hover {
  background: #424548;
  border-color: #424548;
}

.calculator__key:active {
  border-color: #80868b;
}

.calculator__key--operated, 
.calculator__key--clear {
  background: #5f6368;
  color: #e8eaed;
  border: 1px solid #5f6368;
}

.calculator__key--operated:hover, .calculator__key--clear:hover {
  background: #70757a;
  border-color: #70757a;
}

.calculator__key--operated:active, .calculator__key--clear:active {
  border-color: #9aa0a6;
}

.calculator__key--clear {
  grid-column: 1 / 3;
}

.calculator__key--equal {
  background: #8ab4f8;
  color: #202124;
  border: 1px solid #8ab4f8;
  border-radius: 4px;
  grid-column: 3 / -1;
}

.calculator__key--equal:hover {
  background: #aecbfa;
  border-color: #aecbfa;
}

.calculator__key--equal:active {
  background: #aecbfa;
}

@media (max-width: 768px) {
  .calculator {
    width: 90%;
  }
}


